
a:hover, a:focus {
    color: #E52D27;
}
a ,.box h4 a:hover, .category-grid-box .short-description h3 a:hover, .category-grid-box .view-details:hover, .ad-listing .ad-content h3 a:hover, .car-details h4:hover, .post-title a:hover, .post-info a:hover, .popular-categories li a:hover, .ad-location-gird .location-title-disc h5:hover, .ad-location-gird .location-title-disc h5 a:hover, .footer-content .footer-widget .contact-info li:hover, .footer-content .footer-widget.links-widget li a:hover, .footer-content .news-widget .news-post a:hover, ul.category-list-style li a:hover, .funfacts h4 span, .singlepage-detail .content-box-grid .short-history li b, .singlepage-detail .content-box-grid .short-history li b a, .content-box-grid i, .share-ad .modal-body p a, .item-date a, .blog-sidebar .widget .tagcloud a:hover, .blog-sidebar .widget ul li a:hover, .comming-soon-grid .count-down #clock > span, .features .features-text h3:hover, .features .features-text h3 a:hover, .site-map-list li a:hover , .header-top ul li a:hover, .ad-archive-desc h3:hover, .ad-archive-desc h3 a:hover , .footer-area .contact-info li .icon , .heading-color  , .ad-preview-details .overview-price span , .ad-listing .content-area .price , .category-grid-box-1 a:hover, .category-grid i , .hero .content p:first-child b , ul.category-list-data li:hover::before, ul.category-list-data li:hover a , ul.category-list-data li:hover a span , .category-list-title h5 > a:hover , .view-more a:hover , .category-grid-box .short-description .price , .ad-price, ul.category-list-style li:hover a i , .sidebar .side-menu nav .nav > li > a:hover , .filter-brudcrums-sort ul li a:hover , .skin-minimal .list li label:hover , .advertising .banner .submit  , .recent-ads .recent-ads-list-price , .bread-3.page-header-area .small-breadcrumb .breadcrumb-link ul li a.active , .ad .content-zone .short-description-1 h3 a:hover , .user-profile ul li:hover a, .user-profile ul li.active a , .dashboard-menu-container ul li.active .menu-name , .dashboard-menu-container ul li:hover .menu-name , .tags-share .tags ul li a , .comment-list .comment .comment-info .author-desc .author-title li a:hover , .why-us:hover i, .why-us:hover h5 , .card .nav-tabs > li.active > a, .card .nav-tabs > li > a:hover , .accordion-title a:hover , .usefull-info .info-content h3:hover, .mega-menu .drop-down a:hover, .mega-menu .drop-down-tab-bar a:hover , .recent-ads .recent-ads-list-title a:hover   , .singleContadds i , .white.category-grid-box-1 .ad-info-1 ul li:hover, .white.category-grid-box-1 .ad-info-1 ul li a:hover , .ad-listing .content-area h3 a:hover , .ad-price-simple , .ad-archive-desc ul.short-meta li a:hover , .blog-sidebar .widget .table > tbody > tr > td a:hover , .search-result-item .info span a:hover , .search-result-item .info span a:hover , .message-details h2 a:hover , .mega-menu .menu-links > li > a:hover , .mega-menu .drop-down-multilevel li.activeTrigger > a , .mega-menu .drop-down-multilevel li:hover > a , .about-stats h4 span, .services-grid-3 .service-icon , .content-area h4:hover , .header-top ul.dropdown-menu li a:hover , .service-left .inner-box h3 a:hover , .service-right .inner-box h3 a:hover , .parallex .owl-testimonial-2 .single_testimonial h3:hover, .owl-testimonial-1 .single_testimonial h3:hover, .news .mainimage:hover a .overlay , .services-grid h4:hover , .white.category-grid-box-1 h3 a:hover , .custom-links a:hover , .services-grid-3 .content-area h1, .footer-top .widget.socail-icons li:hover, .footer-top .widget.my-quicklinks ul li a:hover , .comparison-box h2:hover, .comparison-box h2 a:hover , .message-inbox .message-header span a:hover, .message-inbox .message-header span a.active , .site-map-list li a:hover , .contact-in-header strong , .copyright p a , .copyright p a , .blog-post .post-excerpt a strong:hover , .post-review .summary-review .text-summary h5 , .post-review .summary-review .final-rate h6, .ad-listing-price p { 
	color: #E52D27;
}

.featured-slider .owl-controls .owl-nav .owl-next:hover, .featured-slider .owl-controls .owl-nav .owl-prev:hover , .ms-layer.btn3:hover, .home-category-slider .category-slider .owl-controls .owl-nav .owl-next:hover, .home-category-slider .category-slider .owl-controls .owl-nav .owl-prev:hover, .subscribe button:hover , .featured-slider-1 .owl-controls .owl-nav .owl-next:hover, .featured-slider-1 .owl-controls .owl-nav .owl-prev:hover , .sticky-post-button:hover , .btn-light:hover , .featured-slider-3 .owl-controls .owl-nav .owl-next:hover, .featured-slider-3 .owl-controls .owl-nav .owl-prev:hover  , .hero-form-sub li a:hover , .ms-layer.btn3:hover , .category-grid-box .category-grid-img .ad-status , #google-map-btn a:hover , .custom-zoom-in:hover, .custom-zoom-out:hover,  .featured-slider-single .owl-controls .owl-nav .owl-next:hover, .featured-slider-single .owl-controls .owl-nav .owl-prev:hover{
	background-color: #B31217;
}

blockquote {
    border-left: 5px solid #E52D27;
}
.mega-menu .drop-down-multilevel , .mega-menu .drop-down.grid-col-12, .mega-menu .drop-down-tab-bar.grid-col-12 , .header-top ul.dropdown-menu , .pricing .block , .primary-header-1 .mega-menu{
    border-top: 2px solid #E52D27;
}

.blog-sidebar .widget .widget-heading h4::before , .badge-tech , .ms-layer.btn3{
	background-color:#E52D27;	
}
 
.app-download-button.hover, .app-download-button:hover, .app-download-button.focus, .app-download-button:focus, .app-download-button:active, .app-download-button.active, .ms-layer.btn3, .minimal-footer-1 .widget .social-links a:hover, .subscribe button, .social-area-share > a:hover , .search-section .search-options > li .btn.btn-danger:hover , .featured-slider-1 .owl-controls .owl-nav .owl-next, .featured-slider-1 .owl-controls .owl-nav .owl-prev , .featured-slider .owl-controls .owl-nav .owl-next, .featured-slider .owl-controls .owl-nav .owl-prev, .category-grid-box-1 .price-tag .price span , .featured-slider-3 .owl-controls .owl-nav .owl-next, .featured-slider-3 .owl-controls .owl-nav .owl-prev  , .small-breadcrumb .breadcrumb-link ul li a::after , .user-profile .badge , .ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y , .sticky-post-button , .select2-container--default .select2-results__option--highlighted[aria-selected] , ul.filterAdType li.active a, ul.filterAdType li a:hover , .ad-listing .ad-status , .featured-slider-single .owl-controls .owl-nav .owl-next, .featured-slider-single .owl-controls .owl-nav .owl-prev{
	background-color: #E52D27;
}
span.app-store-btn:hover, .social-links-two a:hover , .search-section .search-options > li .btn.btn-danger:hover  {
	border: 1px solid #E52D27;
}
.slide-thumbnail .flex-active-slide img {
	border-color: #E52D27;
}
.pagination > .active > a:hover, .pagination li:hover > a, .pagination > .active > a , .category-grid a:hover , .pricing .featured a.btn-theme:hover , .btn-orange {
	background-color: #E52D27;
	border-color: #B31217;
	color: #fff !important;
}
.small-breadcrumb .breadcrumb-link ul li a.active {
    border-bottom: 4px solid #E52D27;
    color: #E52D27;
    font-weight: 600;
}
.popup-cls.close::before {
	border-color: rgba(0, 0, 0, 0) #E52D27;
	border-style: solid;
	border-width: 0 70px 70px 0;
	content: "";
	display: block;
	height: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 0;
	z-index: -1;
}
.grid-panel .location-icon i , .widget-newsletter .fieldset form .submit-btn , .ad-listing .content-area .additional-info li a:hover , .noUi-connect , .card .nav-tabs > li > a::after , .featured-ribbon span , .progress-bar> span {
	background: #E52D27 none repeat scroll 0 0;

}
.cd-top {
	background: #E52D27 url(../../images/cd-top-arrow.svg) no-repeat center 50%;
}
.heading-panel h3.main-title {
    border-bottom: 2px solid #E52D27;
}
.mega-menu .drop-down a, .mega-menu .drop-down-tab-bar a  {
	color:#232323;	
}
.mega-menu .menu-search-bar li .btn:hover{
	color:#fff;	
}
.btn-theme { 
  color: #ffffff; 
  background-color: #E52D27; 
  border-color: #E52D27; 
} 
 
.btn-theme:hover, 
.btn-theme:focus, 
.btn-theme:active, 
.btn-theme.active, 
.open .dropdown-toggle.btn-theme { 
  color: #ffffff; 
  background-color: #B31217; 
  border-color: #B31217; 
} 
 
.btn-theme:active, 
.btn-theme.active, 
.open .dropdown-toggle.btn-theme { 
  background-image: none; 
} 
 
.btn-theme.disabled, 
.btn-theme[disabled], 
fieldset[disabled] .btn-theme, 
.btn-theme.disabled:hover, 
.btn-theme[disabled]:hover, 
fieldset[disabled] .btn-theme:hover, 
.btn-theme.disabled:focus, 
.btn-theme[disabled]:focus, 
fieldset[disabled] .btn-theme:focus, 
.btn-theme.disabled:active, 
.btn-theme[disabled]:active, 
fieldset[disabled] .btn-theme:active, 
.btn-theme.disabled.active, 
.btn-theme[disabled].active, 
fieldset[disabled] .btn-theme.active { 
  background-color: #E52D27; 
  border-color: #E52D27; 
} 
 
.btn-theme .badge { 
  color: #E52D27; 
  background-color: #ffffff; 
}

.profile-tabs .nav-tabs {
	background-color:#fff;
	border-color:#E52D27;
}

.user-profile ul li.active a::before {
	border-left: 9px solid #E52D27;
}
.user-profile ul li.active a {
	border-left: 3px solid #E52D27;
}
.header-top {
	background: #780206;
	background: -moz-linear-gradient(to left, #780206, #061161);
	background: -webkit-linear-gradient(to left, #780206, #061161);
	background: -webkit-gradient(linear, 0 0, 100% 0, from(#780206), to(#061161));
	background: -o-linear-gradient(to left, #780206, #061161);
	background: linear-gradient(to left, #780206, #061161);
}
.linear-overlay , .background-3::before {
	background: rgba(120, 2, 6, 0.8);
	background: -moz-linear-gradient(to left, rgba(120, 2, 6, 0.8), rgba(6, 17, 97, 0.8));
	background: -webkit-linear-gradient(to left, rgba(120, 2, 6, 0.8), rgba(6, 17, 97, 0.8));
	background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(120, 2, 6, 0.8)), to(rgba(6, 17, 97, 0.8)));
	background: -o-linear-gradient(to left, rgba(120, 2, 6, 0.8), rgba(6, 17, 97, 0.8));
	background: linear-gradient(to left, rgba(120, 2, 6, 0.8), rgba(6, 17, 97, 0.8));
}
.cluster div:before {
	border: 7px solid #e52d27;
	opacity: 0.2;
	box-shadow: inset 0 0 0 4px #e52d27;
}
.cluster div {
	background-color: #e52d27;
}